{% load static %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>Login</title>

        <meta name="description" content="ProUI is a Responsive Bootstrap Admin Template created by pixelcave and published on Themeforest.">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="{% static 'back/img/favicon.png' %}">
        <link rel="apple-touch-icon" href="{% static 'back/img/icon57.png' %}" sizes="57x57">
        <link rel="apple-touch-icon" href="{% static 'back/img/icon72.png' %}" sizes="72x72">
        <link rel="apple-touch-icon" href="{% static 'back/img/icon76.png' %}" sizes="76x76">
        <link rel="apple-touch-icon" href="{% static 'back/img/icon114.png' %}" sizes="114x114">
        <link rel="apple-touch-icon" href="{% static 'back/img/icon120.png' %}" sizes="120x120">
        <link rel="apple-touch-icon" href="{% static 'back/img/icon144.png' %}" sizes="144x144">
        <link rel="apple-touch-icon" href="{% static 'back/img/icon152.png' %}" sizes="152x152">
        <link rel="apple-touch-icon" href="{% static 'back/img/icon180.png' %}" sizes="180x180">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Bootstrap is included in its original form, unaltered -->
        <link rel="stylesheet" href="{% static 'back/css/bootstrap.min.css'%}">

        <!-- Related styles of various icon packs and plugins -->
        <link rel="stylesheet" href="{% static 'back/css/plugins.css'%}">

        <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
        <link rel="stylesheet" href="{% static 'back/css/main.css'%}">

        <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->

        <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
        <link rel="stylesheet" href="{% static 'back/css/themes.css'%}">
        <!-- END Stylesheets -->

        <!-- Modernizr (browser feature detection library) -->
        <script src="{% static 'back/js/vendor/modernizr.min.js'%}"></script>
    </head>
    <body>
        <!-- Login Alternative Row -->
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <div id="login-alt-container">
                        <!-- Title -->
                        <h1 class="push-top-bottom">
                            <i class="gi gi-flash"></i> <strong>Please Login</strong><br>
                            <small>Welcome to MagNews Admin Template!</small>
                        </h1>
                        <!-- END Title -->

                        <!-- Key Features -->
                        <ul class="fa-ul text-muted">
                            <li><i class="fa fa-check fa-li text-success"></i> At least 8 characters </li>
                            <li><i class="fa fa-check fa-li text-success"></i> Not your birthday </li>
                            <li><i class="fa fa-check fa-li text-success"></i> Not your first or last name </li>
                            <li><i class="fa fa-check fa-li text-success"></i> Hard to predict </li>
                            <li><i class="fa fa-check fa-li text-success"></i> contain + * - / @ ! ^ % $ # </li>
                            <li><i class="fa fa-check fa-li text-success"></i> .. and remember it later!</li>
                        </ul>
                        <!-- END Key Features -->

                        <!-- Footer -->
                        <footer class="text-muted push-top-bottom">
                            <small><span id="year-copy"></span> &copy; <a href="https://1.envato.market/x4R" target="_blank">ProUI 3.8</a></small>
                        </footer>
                        <!-- END Footer -->
                    </div>
                </div>
                <div class="col-md-5">
                    <!-- Login Container -->
                    <div id="login-container">
                        <!-- Login Title -->
                        <div class="login-title text-center">
                            <h1><strong>Login</strong> or <strong>Register</strong></h1>
                        </div>
                        <!-- END Login Title -->

                        <!-- Login Block -->
                        <div class="block push-bit">

                            <!-- Register Form -->
                            <form action="" method="post" id="form-register" class="form-horizontal">
                                {% csrf_token %}
                                {{ form|crispy }}


                                <div class="form-group form-actions">
                                    <div class="col-xs-6">
                                        <a href="#modal-terms" data-toggle="modal" class="register-terms">Accept Terms</a>
                                        <label class="switch switch-primary" data-toggle="tooltip" title="Agree to the terms">
                                            <input type="checkbox" id="register-terms" name="register-terms">
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> Register Account</button>
                                    </div>
                                </div>
                                <span style="color: red;font-size: small">{{ form.errors }}</span>
                                <div class="form-group">
                                    <div class="col-xs-12 text-center">
                                        <small>Do you have an account?</small> <a href="{% url 'my_login' %}" ><small>Login</small></a>
                                    </div>
                                </div>
                            </form>
                            <!-- END Register Form -->
                        </div>
                        <!-- END Login Block -->
                    </div>
                    <!-- END Login Container -->
                </div>
            </div>
        </div>
        <!-- END Login Alternative Row -->


        <!-- END Modal Terms -->

        <!-- jQuery, Bootstrap.js, jQuery plugins and Custom JS code -->
        <script src="{% static 'back/js/vendor/jquery.min.js'%}"></script>
        <script src="{% static 'back/js/vendor/bootstrap.min.js'%}"></script>
        <script src="{% static 'back/js/plugins.js'%}"></script>
        <script src="{% static 'back/js/app.js'%}"></script>

        <!-- Load and execute javascript code used only in this page -->
        <script src="{% static 'back/js/pages/login.js' %}"></script>
        <script>$(function(){ Login.init(); });</script>
        <script>
            var form_fields = document.getElementsByTagName('input')

            form_fields[1].placeholder='Username...'
            form_fields[2].placeholder='Email (optional) '
            form_fields[3].placeholder='Enter a Password'
            form_fields[4].placeholder='Confirm Password'
        </script>
    </body>
</html>