{% extends 'back/master_panel.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div id="page-content">
        <!-- Datatables Header -->
        <div class="content-header">
            <div class="header-section">
                <h1>
                    <i class="fa fa-table"></i>Add Course<br><small>you can add new Course!</small>
                </h1>
            </div>
            <div class="breadcrumb breadcrump-top">
                <li>Course</li>
                <li><a href="#">Add</a></li>
            </div>
        </div>


        <div class="block full">
            <div class="block-title">
                <h2><strong>Add</strong> Course</h2>
            </div>

            <div>

                <form action="#" enctype="multipart/form-data" method="POST"
                      class="form-horizontal form_middle">

                    {% csrf_token %}

                    <div class="row">
                        <div class="col-md-6">
                            {{ form }}
                        </div>

                    </div>


                    <div class="form-group form-actions">
                        <div class="col-md-9 col-md-offset-0">
                            {% if messages %}
                                <br><br>
                                <ul class="messages">
                                    {% for message in messages %}
                                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><span
                                                style="color: red">{{ message }}</span></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <input type="submit" class="btn btn-sm btn-primary">

                            <button type="reset" class="btn btn-sm btn-warning"><i class="fa fa-repeat"></i> Reset
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END Datatables Content -->

{% endblock %}

